$black: #000;
$darker: #333;
$dark: #666;
$darkgray: #999;
$gray: #ddd;
$lightgray: #e5e4e4;
$white: #fff;

$pointRed: #ee5555;
$pointGreen: #5cb8b2;
$pointAqua: #2dccd3;
$pointPink: #ef657f;
$pointOrange: #ff7569;
